.cart__container {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.cart__footer {
  display: flex;
  justify-content: end;
  gap: 1em;
  color: #000000;
}

.cart__amount {
  color: #ff0000;
}
