.btn {
 padding: 0.8em 1em;
 display: flex;
 gap: 0.5em;
 align-items: center;
 border: none;
 border-radius: 0.5em;
 color: #000;
}

.green {
  background: #a1e293;
}

.green:hover {
  background: #81b475;
}

.red {
  background: #f96464;
}

.red:hover {
  background: #b84747;
}
