.header {
  display: flex;
  padding: 1em 1em;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 10px 5px rgba(17, 12, 46, 0.15) ;
}

.header__title {
  font-family: winky-rough;
  margin: 0;
}

.navbar__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 0.5em;
  margin: 0;
  padding: 0;
}

.navbar__item:global(:not(:has(.lucide))) {
  display: block;
  padding: 0.2em 0.4em;
}

.navbar__item:global(:has(.lucide)) {
  position: relative;
}

.cartItemQuantity {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  background: #ff0606bb;
  color: #ffffff;
  font-size: 0.7rem;
  width: 1em;
  height: 1em;
  padding: 0.2em;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
